# Application
NODE_ENV=development
PORT=3000

# Database
MONGODB_URI=mongodb://localhost:27017/users_api

# Auth
JWT_SECRET=1234567890abcdef
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

# Swagger
SWAGGER_PATH=docs